<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= post.picture %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= post.ingredients %>
  </p>

  <p>
    <strong>Recipe:</strong>
    <%= post.recipe %>
  </p>

</div>
